# Xcode & Apple OS
.DS_Store
DerivedData/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad/
*.hmap
*.xccheckout
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager & Builds
.build/
build/
Packages/
Package.pins
Package.resolved
.swiftpm/

# App & Binary Artifacts
*.app
*.ipa
*.pkg

# Temporary & Editor Cache
*.swp
*.swo
*~
.idea/
.vscode/
.gemini/
scratch/
